<% provide(:title, 'User profile') %>
<h1>Welcome <%= @user.name %></h1>

<div class="center">
  <ul style="list-style-type: none;">
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>
