<% provide(:title, 'User Categories') %>
<h1>Your Categories</h1>
<div class="container">
  <div class="row">
    <div class="col-md-8" style="font-size: 2em;">Categories</div>
    <div class="col-md-4 btn btn-default add_category_btn" >
      <%= form_for :category, url: categories_path, html:{class: "form-inline", id: 'createCategoryFormId'}, method: :post, remote: true do %>
          <div class="form-group">
            <label class="sr-only" for="name">Category Name</label>
            <div class="input-group">
              <input type="text" class="form-control" name='name' id="newCategoryNameId" placeholder="Name">
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="addCategoryButtonId">Add Category</button>
      <% end %>
    </div>
  </div>

  <div>
    <p>
    <div class="input-group">
      <input type='text' class="form-control" name="keyword" id='categorySearchBoxId' placeholder='Start typing category name here.'>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" id="categorySearchBtnId" onclick='categorySearchFunction()'>Go!</button>
        <button class="btn btn-default" type="button" id="clearSearchBtnId" onclick='clearSearchFunction()'>Clear!</button>
      </span>
    </div>
    </p>
  </div>

  <div id="categoriesTableId">
    <%= render partial: 'categories/categories_listing', locals: {categories: @categories} %>
  </div>
</div>

<script>
    $("#createCategoryFormId").on("ajax:success", function(e, data, status, xhr){
        alert(data.message);
        window.location = window.location
    }).on("ajax:error", function(e, data, status, xhr){
        alert(data.message);
    })

    function categorySearchFunction(){
        var searchKeyword = $('#categorySearchBoxId').val();
        if (!!searchKeyword) {
            $.ajax(
                    {
                        method: 'get',
                        url: '/categories/',
                        data: {keyword: searchKeyword}
                    }
            ).success(function(response){
                        $("#categoriesTableId").html(response.html)
                    })
        } else {
            alert('Please enter a keyword first.')
        }

    }
    function clearSearchFunction() {
        var searchKeyword = $('#categorySearchBoxId');
        searchKeyword.val('')
        $.ajax(
                {
                    method: 'get',
                    url: '/categories/'

                }
        ).success(function(response){
                    $("#categoriesTableId").html(response.html)
                })
    }

    $('#categorySearchBoxId').autocomplete({
                minLength: 2,
                source: function(request, response){
                    $.ajax({
                        url: "<%= autocompleter_categories_path %>",
                        data: {
                            keyword: request.term
                        },
                        success: function(data){
                            response(data)
                        }
                    })
                }

            }
    )

</script>
