<footer class="footer">
  <small>
    by <a href="https://indyarock.wordpress.com/">Chandan Kumar</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>